.homeScreen {
  background-color: black;
  height: 100%;
  color: white;
}
.homeScreen .keypadWrapper {
  color: inherit;
}
.homeScreen .keypadWrapper #keypadInput {
  border: none;
  outline: none;
  background: none;
  color: inherit;
}
.homeScreen .searchResults {
  height: 100px;
  overflow-y: scroll;
}